body {
    background-image: linear-gradient(to right, #f7797d, #fbd786,  #c6ffdd, #fbd786, #f7797d);

}
.mainbox {
    display: flex;
    width: 850px;
    height: 500px;
    top: 112.5px;
    left: 225px;
    background-image: linear-gradient(to bottom right, #EA8D8D, #A890FE, #EA8D8D);
    position: absolute;
    border-radius: 25px;

}

.username {
    display: flex;
    width: 300px;
    height: 50px;
    position: absolute;
    left: 350px;
    top: 200px;
    font-family: monospace;
    text-align: left;
    color: black;
    background-color: white;
    border-radius: 10px;
    border-color: black;
}

.username ::placeholder {
    font-family: monospace;
    font-size: larger;
    position: absolute;
    color: black;
    left: 450px;
    top: 200px;
}

.key img {
    left: 612.5px;
    top: 212.5px;
    position: absolute;
    height: 35px;
    width: 35px;
    z-index: 1;
}

.password {
    display: flex;
    width: 300px;
    height: 50px;
    position: absolute;
    left: 350px;
    top: 300px;
    font-family: monospace;
    text-align: left;
    color: black;
    background-color: white;
    border-radius: 10px;
    border-color: black;
}

.sidepic img {
    z-index: 1;
    height: 500px;
    width: 400px;
    position: absolute;
    left: 880px;
    top: 112.5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

button {
    height: 40px;
    width: 85px;
    border-radius: 5px;
    background-color: lightskyblue;
    border-color: black;
    font-family: cursive;
    position:absolute;
    left: 550px;
    top: 395px;
}

.check {
    border-radius: 10px;
    font-family: cursive;
    position: absolute;
    left: 350px;
    top: 402.5px;
    z-index: 1;
}

.x {
    position:absolute;
    top: 125px;
    left: 250px;
    color:black;
    opacity: 80%;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rememberme {
    height: 40px;
    width: 125px;
    border-radius: 5px;
    background-color: lightskyblue;
    border-color: black;
    font-family: cursive;
    position:absolute;
    left: 350px;
    top: 395px;
}